*{
    text-align: center;
    font-family: cursive;
}
h1{
    text-decoration: underline;
}
form{
    border: 3px solid gray;
    padding: 50px;
    margin: auto;
    width: 50%;
}
form *{
    display: block;
    margin: auto;
    width: 50%;
}
button{
    background-color: blue;
    color: white;
}
#cards-section{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
#card{
    background-color:rgb(195, 231, 231);
    border: 2px solid grey;
    padding: 5px;
    margin: 15px;
}
#color1{
    color:darkgreen;
}
#color2{
    color: crimson;
}
#color3{
    color: fuchsia;
}
#color0{
    color: red;
    font-style: italic;
    text-decoration: underline;
}